html,
body {
  margin: 0;
  width: 100%;
  font-family: "Space Mono", monospace;
  background-color: snow;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #0087ca;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .center-container {
    width: 60%;
  }
}

@font-face {
  font-family: "Space Mono", monospace;
  src: url("/fonts/space_mono/SpaceMono-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono", monospace;
  src: url("/fonts/space_mono/SpaceMono-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono", monospace;
  src: url("/fonts/space_mono/SpaceMono-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono", monospace;
  src: url("/fonts/space_mono/SpaceMono-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}
