html,
body {
  margin: 0;
  width: 100%;
  font-family: var(--font-jetbrains-mono), monospace;
  background-color: snow;
}

a {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: inherit;
}

a:hover {
  background-color: black;
  color: snow;
  text-decoration: none;
}

@media (min-width: 768px) {
  .center-container {
    width: 60%;
  }
}
