.header {
	display: grid;
	grid-gap: 40px;
	align-items: center;
	text-align: center;
}

@media (min-width: 900px) {
	.header {
		grid-template-columns: 1fr 1fr;
		text-align: left;
	}
}

.header div {
}

.header h2 {
	font-size: 4em;
}

.header h3 {
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	background: rgb(152, 0, 213);
	padding: 10px 16px;
	border-radius: 4px;
	margin-top: 20px;
	font-weight: 500;
}

.footnote {
	color: #bbb;
}
