.details h2 {
	font-size: 3.5em;
	margin-top: 30px;
}

.details h3 {
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 20px;
	margin-right: 16px;
}

@media screen and (max-width: 600px) {
	.details h2 {
		font-size: 2em;
	}

	.details h3 {
		font-size: 1.5em;
	}
}

.imageContainer {
	margin-bottom: 20px;
}

.backBtn {
	padding-left: 15px;
	font-weight: 400;
	border-bottom: 3px solid transparent;
}

.backBtn:hover {
	border-color: white;
}

.backChevron {
	transform: scale(var(--ggs, 1));
	width: 22px;
	height: 22px;
	border: 2px solid transparent;
	border-radius: 100px;
}
.backChevron::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid;
	border-left: 2px solid;
	transform: rotate(45deg);
	left: 0px;
	top: 28px;
}

.projectMd a {
	text-decoration: underline;
}
